[2013-09-22 22:03] yegor256 opened #1 "Classpath doesn't understand version priorities"
Moved from https://github.com/jcabi/jcabi/issues/223

`Classpath` doesn't understand version priorities, which means that if there are two identical artifacts with different versions we will get just the latest in the list, not the one with the highest version number. This is a bug.

[2013-09-22 22:04] yegor256 opened #2 "Mirrors in Maven settings.xml"
Moved from https://github.com/jcabi/jcabi/issues/254

Let's add support of Maven mirrors: http://maven.apache.org/guides/mini/guide-mirror-settings.html

[2013-09-22 22:06] yegor256 opened #3 "Aether doesn't ignore OPTIONAL dependencies"
Moved from https://github.com/jcabi/jcabi/issues/255

Optional dependencies should be ignored if not found, as said here: http://maven.apache.org/pom.html#Dependencies

[2013-09-28 16:42] krzyk opened #4 "Add support for Eclipse Aether (used by Maven >= 3.1)"
Currently jcabi-aether uses only Sonatype Aether, as such it can't be used in projects that need Eclpise Aether.

[2013-10-15 08:03] raphaelbauer opened #5 ""Invalid entry size" when jcabi aether on the classpath"
Somehow a strange error message. But when I put

[code]

on my classpath I am getting a strange error message:

[code]

My maven is:

[code]

Any help appreciated :)
Thanks!

Raphael

More logs:

[code]

[2013-10-15 18:47] yegor256 opened #6 "upgrade to the latest version of jcabi:parent"
Let's upgrade to the latest version of jcabi:parent

[2013-10-15 18:56] #6 closed, assigned to nobody

[2013-12-15 18:49] #3 closed, assigned to nobody

[2013-12-15 21:55] krzyk opened #11 "Aether doesn't read proxy information from maven"
Aether should read proxy information from maven settings.xml file.

[2014-01-02 13:58] #5 closed, assigned to nobody

[2014-01-05 09:30] #1 closed, assigned to nobody

[2014-01-05 09:30] #2 closed, assigned to nobody

[2014-01-07 13:28] #4 closed, assigned to nobody

[2014-03-08 17:06] mtstorm opened #12 "Dependency test"
In order to have the scope test added to the dependencies, the scope must be uppercase in de pom. An equalsIgnoreCase will solve this issue. This works

[code]

[code]

but this not:

[code]

[code]

[2014-03-09 15:27] yegor256 opened #13 "use com.jcabi:jcabi 1.4"
let's use `com.jcabi:jcabi:1.4` as a parent `pom`

[2014-03-13 12:22] patching opened #14 "Need support for Eclipse Aether"
Latest version 0.9 of jcabi-aether still do not support Eclipse Aether.

[2014-03-16 13:55] yegor256 opened #16 "NoClassDefFoundError: org/sonatype/aether/resolution/DependencyResolutionException"
see http://relics.rultor.com.s3.amazonaws.com/urn:facebook:1531296526/jcabi-aether-on-commit/stdout/2014-03-16T13:40:00Z/log.txt

[2014-03-16 16:39] #13 closed, assigned to nobody

[2014-04-16 09:16] #12 closed, assigned to nobody

[2014-04-16 09:16] #14 closed, assigned to nobody

[2014-04-23 20:03] #16 closed, assigned to nobody

[2014-08-14 08:29] yegor256 opened #18 "skin 1.4"
let's use it

[2014-08-15 08:59] #18 closed, assigned to nobody

[2014-08-15 11:12] dmarkov opened #19 "pom.xml:69-69: There is a problem with..."
Puzzle `13-c0692295` in `pom.xml:69-69` has to be resolved: There is a problem with version 5.1.0.Beta1

[2014-08-15 12:10] dmarkov opened #20 "Aether.java:86-88: This class should be @Immutable,..."
Puzzle `143-298f5335` in `src/main/java/com/jcabi/aether/Aether.java:86-88` has to be resolved: This class should be @Immutable, but RemoteRepository is not immutable. Let's create a new class to encapsulate all necessary properties from RemoteRepository.

[2014-08-15 13:07] dmarkov opened #21 "pom.xml:267-267: This test fails with Maven..."
Puzzle `18-d2cf5a94` in `pom.xml:267-267` has to be resolved: This test fails with Maven 3.2.x -->

If you have any technical questions, don't ask me, submit new tickets instead

[2014-08-15 13:44] dmarkov opened #22 "AetherTest.java:171-173: This test doesn't work for..."
Puzzle `250-9862dcd5` in `src/test/java/com/jcabi/aether/AetherTest.java:171-173` has to be resolved: This test doesn't work for some strange reason. I suspect that the problem is with the existence of two constructors in Aether class - aspectj fails to weave them both.

[2014-08-23 14:29] krzyk opened #23 "build fails with checkstyle violations"
Here's the build log:

[code]

[2014-08-23 15:12] #23 closed, assigned to nobody

[2014-08-23 15:24] krzyk opened #24 "Build fails on XML validation"
Build log:

[code]

[2014-08-24 11:34] #24 closed, assigned to nobody

[2014-08-27 09:20] dmarkov opened #27 "verify.groovy:33-35: Maven Invoker Plugin doesn't provide..."
Puzzle `3-d3538f0a` in `src/it/mirror-usage/verify.groovy:33-35` has to be resolved: Maven Invoker Plugin doesn't provide an easy way to get maven settings used in a project, when it does we can refactor Aether and enable this test.

[2014-08-27 11:34] dmarkov opened #28 "MavenRootArtifact.java:110-115: Retrieve list of children of..."
Puzzle `4-e727794d` in `src/main/java/com/jcabi/aether/MavenRootArtifact.java:110-115` has to be resolved: Retrieve list of children of given artifact from repository that will not depend on sonatype aether or eclipse aether. Test ClasspathTest.hasToStringWithBrokenDependency and RootArtifactTest.gracefullyResolvesBrokenRootArtifact and RootArtifactTest.resolvesRootArtifact should pass when the me

[2014-09-01 10:55] dmarkov opened #29 "Aether.java:211-213: This catch of NPE is..."
Puzzle `51-1760f3f9` in `src/main/java/com/jcabi/aether/Aether.java:211-213` has to be resolved: This catch of NPE is a temporary measure. I don't know why Aether throws NPE in case of non-resolvable artifact. This is the best I can do at the moment in order to protect clients of the class.

[2014-09-01 10:57] #19 closed, assigned to nobody

[2014-09-01 10:57] #20 closed, assigned to nobody

[2014-09-01 12:24] dmarkov opened #30 "Aether.java:142-147: This "filter IF NOT NULL"..."
Puzzle `51-d858c329` in `src/main/java/com/jcabi/aether/Aether.java:142-147` has to be resolved: This "filter IF NOT NULL" validation is a workaround, since I don't know what the actual problem is. Looks like sometimes (for some unknown reason) #classpathFilter() returns NULL. When exactly this may happen I have no idea. That's why this workaround. Sometime later we should do a proper testing and

[2014-09-09 14:22] #22 closed, assigned to nobody

[2014-09-11 12:44] #28 closed, assigned to nobody

[2014-09-12 14:44] #27 closed, assigned to nobody

[2014-09-16 10:49] #29 closed, assigned to nobody

[2014-09-22 12:54] #30 closed, assigned to nobody

[2014-10-01 14:12] EricThieme opened #36 "Homepage has wrong URL"
http://aether.jcabi.com/ has a link "More examples you can find in AetherTest."
The link is broken (https://github.com/yegor256/jcabi/blob/master/jcabi-aether/src/test/java/com/jcabi/aether/AetherTest.java)

The correct URL is probably: https://github.com/jcabi/jcabi-aether/tree/master/src/test/java/com/jcabi/aether/AetherTest.java

[2014-10-02 05:36] #36 closed, assigned to nobody

[2014-11-06 21:43] quartelh opened #37 "'outside of Maven infrastructure' sample does not build in Eclips"
I experience the same problem as described at http://stackoverflow.com/questions/24925239/jcabi-aether-basic-example-doesnt-work

I use Java 1.7.

The errors mentioned in Eclipse:
Description	Resource	Path	Location	Type
The project was not built since its build path is incomplete. Cannot find the class file for org.apache.maven.project.MavenProject. Fix the build path then try building this projec

[2014-11-13 11:35] baev opened #38 "Please have a look we have the same project"
Hi guys,
https://github.com/camelot-framework/clay

[2014-11-13 11:41] #38 closed, assigned to nobody

[2014-12-30 08:18] dmarkov opened #39 "Aether.java:87-89: This class should be @Immutable,..."
Puzzle `20-271b1ced` in `src/main/java/com/jcabi/aether/Aether.java:87-89` has to be resolved: This class should be @Immutable, but Proxy and Authentication parameters of Repository are not immutable. Let's create a new classes to encapsulate all necessary properties from them.

If you have any technical questions, don't ask me, submit new tickets instead

[2014-12-31 08:28] dmarkov opened #40 "MavenClasspathTest.java:101-101: Add handling of broken dependencies..."
Puzzle `28-40ea2a55` in `src/test/java/com/jcabi/aether/MavenClasspathTest.java:101-101` has to be resolved: Add handling of broken dependencies in toString.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-01-01 07:21] alevohin commented on #40
@dmarkov source code from master doesn't pass qulice check, is it normal?
Example from log:
[INFO] --- qulice-maven-plugin:0.10:check (jcabi-check) @ jcabi-aether ---
[INFO] LICENSE found: file:C:/develop/odesk/jcabi-aether/LICENSE.txt
[ERROR] \src\aws-it\aether-test\client\pom.xml[101]: Lines in file should end with Unix-like end of line (RegexpMultilineCheck)
[ERROR] \src\aws-it\aether-test\invo

[2015-01-01 10:05] yegor256 commented on #40
@alevohin No, it's not. Every time you see an issue, create a new ticket

[2015-01-01 10:41] alevohin opened #41 "Source code from master doesn't pass qulice check."
Do "mvn clean install -Pqulice" for master branch (commit 620c734828fd28b5f0dd220f854e0b3d1051b37c), get 272 checkstyle violations.
Need to fix it.

Log:

[code]

[2015-01-01 12:11] dmarkov commented on #41
I'll find a developer for the task soon...

[2015-01-01 12:14] dmarkov commented on #41
@pandreev this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-01-01 12:15] dmarkov commented on #41
@alevohin thank you for the ticket reported, I topped your account for 15 mins, transaction `49704439`

[2015-01-02 18:23] alevohin commented on #40
@dmarkov PR #42 merged to master. Please check and close issue.

[2015-01-07 07:07] dmarkov commented on #39
@wentwog you're working with this issue for 7 days already. as a reminder, don't forget to remove the `@todo` puzzle from the source code. added -30 to your rating, now it is equal to [+5](http://www.netbout.com/b/35104?open=rating)

[2015-01-07 11:08] wentwog commented on #39
@dmarkov I was reading about 10 days deadline in our work model description, I must have missed something. Can you please tell where I can read about the rating system and the deadlines applied ?

[2015-01-07 11:10] wentwog commented on #39
@dmarkov and can you please assign the task to someone else, since I feel I don't have time available to meet the deadline.

[2015-01-07 12:59] dmarkov commented on #39
@wentwog I'll ask somebody else to pick this up

[2015-01-07 17:32] yegor256 commented on #39
@wentwog create an account at www.netbout.com and I'll give you access to your rating stats

[2015-01-07 17:33] wentwog commented on #39
@yegor256 done, my alias is @wentwog

[2015-01-07 17:54] yegor256 commented on #39
@wentwog now you should have access here: http://www.netbout.com/b/35104

[2015-01-07 18:25] wentwog commented on #39
@yegor256 thanks!
Can you also clarify about the deadlines?:
there two deadlines:
1) 8 days. If haven't finished, even if working on the task now, you get minus in the rating?
How much? Mine were -5,-5,-30 - so, different.
2) 10 or 14 days? - after that time task can be withdrawn from you.

[2015-01-07 18:33] yegor256 commented on #39
@wentwog If you keep a task longer than 10 days, you get -30 points (if task budget is 30 minutes). If you fail to complete it in 14 days, you get -60 points. We may change the rules in the future, they are still experimental, but that's what we have now

[2015-01-08 09:59] dmarkov commented on #11
@darkled just a reminder that you're working with this task for 12 days already... -30 added to your rating, current score is: [+90](http://www.netbout.com/b/35091?open=rating)

[2015-01-08 09:59] dmarkov commented on #39
@oruam85 it's yours, please go ahead

[2015-01-08 10:53] darkled commented on #41
Seems to be a duplicate of this issue: https://github.com/jcabi/jcabi-aspects/issues/122. The solution is described there as well.

[2015-01-08 16:37] maurezen opened #44 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-09 19:18] darkled commented on #11
@dmarkov please, assign this task to someone else

[2015-01-09 20:23] oruam85 opened #45 "The method canEqual is undefined in the MavenClasspath class"
The test comparesToAnotherClasspath in MavenClasspathTest class and the test comparesToAnotherClasspath in ClasspathTest class have a MatcherAssert using the method canEqual of the MavenClasspath class, but this method not exist.

[2015-01-09 20:24] yegor256 commented on #45
@oruam85 I'm not sure I follow... how can I reproduce this issue?

[2015-01-10 15:05] oruam85 commented on #45
@yegor256 look the test comparesToAnotherClasspath in MavenClasspathTest class
[code]

The line `  classpath.canEqual(classpath) ` does not compile because the method canEqual does not exist

[2015-01-10 15:06] oruam85 commented on #45
The same problem in the other test comparesToAnotherClasspath in ClasspathTest class

[2015-01-10 15:08] yegor256 commented on #45
@oruam85 you can't compile the project with `mvn clean compile`??

[2015-01-10 21:36] oruam85 commented on #45
@yegor256 mvn clean compile build sucess and mvn test too. But in Eclipse, the tests shows the line red because with this message: "The method canEqual(Classpath) is undefined for the type Classpath"

[2015-01-10 21:42] yegor256 commented on #45
@oruam85 so it's not a bug, it's something wrong with Eclipse. when you report a bug, always remember that you should explain how such a problem can be reproduced.

[2015-01-10 21:42] #45 closed

[2015-01-12 12:04] dmarkov commented on #11
@darkled no problem, I'll try to find somebody else

[2015-01-12 13:02] dmarkov commented on #40
Thanks, closing it now.

[2015-01-12 13:02] #40 closed

[2015-01-12 13:05] dmarkov commented on #11
@darkled the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)... -60 to your rating, your total score is [-135](http://www.netbout.com/b/35091?open=rating)

[2015-01-12 13:05] dmarkov commented on #40
@alevohin **30 mins** was added to your account, many thanks for your contribution!

+30 to your rating, your total score is [+165](http://www.netbout.com/b/35105?open=rating)

[2015-01-12 13:05] dmarkov commented on #41
@pandreev the task is your hands for the last 11 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. added -30 to your rating, now it is equal to -30

[2015-01-12 13:08] darkled commented on #11
@dmarkov @yegor256 I am not sure these -60 are correct, since I've rejected the task 3 days ago, aren't they?

[2015-01-12 19:37] pandreev commented on #41
@dmarkov please assign to someone else

[2015-01-13 12:22] dmarkov commented on #41
@pandreev no problem, I'll try to find somebody else

[2015-01-13 13:16] dmarkov commented on #11
@aoxa this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-13 13:16] dmarkov commented on #21
@jenya it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 to your rating, your total score is [-315](http://www.netbout.com/b/35092?open=rating)

[2015-01-14 11:13] dmarkov commented on #41
@dpisarenko the task is yours

[2015-01-14 12:07] dpisarenko commented on #41
@alevohin  I had this problem on my Windows machine as well.

Here are the steps to fix the problem:

  1. Run `git config --global --add core.autocrlf false` in the Git bash console.
  1. Do a new checkout of jcabi-aether.
  1. Apply my pull request https://github.com/jcabi/jcabi-aether/pull/47 .
  1. Run `mvn qulice:check -Pqulice` - it should run without errors.

[2015-01-14 12:08] dpisarenko commented on #41
@dmarkov Please find someone to review pull request https://github.com/jcabi/jcabi-aether/pull/47 .

[2015-01-15 14:58] aoxa commented on #11
Could you please provide more information as to how to reproduce this? I'm still new to the project and will need more data to solve some issue, but will try to get up to speed asap.

[2015-01-15 15:38] kjezek opened #48 "Wrong management of dependencies duplicated in multiple versions"
If a dependency tree contains artefacts duplicated in various versions, Maven uses only one. Jcabi-aether returns all of them instead.

It seem that the root of this problem is in the Classpath class:

This code:

                    final Artifact newer = Classpath.newer(child, found);
                    if (newer.equals(child)) {
                        artifacts.remove(found);

[2015-01-15 17:34] oruam85 commented on #39
@dmarkov the PR is https://github.com/jcabi/jcabi-aether/pull/46

[2015-01-15 21:28] yegor256 commented on #48
@kjezek yes, Maven always gets the newest version if there are duplicates

[2015-01-15 21:46] oruam85 opened #49 "Repository class should be immutable"
The Repository class should be @Immutable, but have a collection of Repository that are not immutable. Change this class to @Immutable and then change Aether class to @Immutable too

[2015-01-15 22:15] yegor256 commented on #49
we can't make it immutable, because it encapsulates classes from third-party libraries. they are not immutable.

[2015-01-15 22:15] #49 closed

[2015-01-16 07:12] kjezek commented on #48
@yegor256 thanks for extending my knowledge :)

However, the condition is still wrong. If there is already a newer version in the list, an older artefact is also added, which is wrong, right?  Perhaps there should be an "else" branch replacing the "newer" by the "found"

[2015-01-16 10:35] yegor256 commented on #48
@kjezek you're right, it's a bug, thanks for reporting! we'll take care of it soon

[2015-01-16 22:05] krzyk commented on #39
@dmarkov give us more time here,  please

[2015-01-17 14:07] dpisarenko commented on #41
@alevohin The bugfix has been merged. Please test it, and if the problem doesn't occur any more, closed this issue. Thanks!

[2015-01-17 15:06] alevohin commented on #41
@dpisarenko thanks! it works!

[2015-01-17 15:06] #41 closed

[2015-01-19 07:30] dmarkov commented on #39
@krzyk right, take your time and thanks for informing

[2015-01-19 07:32] dmarkov commented on #21
@pinaf This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-19 07:32] dmarkov commented on #48
@cyberone please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-20 02:28] pinaf commented on #21
@dmarkov @yegor256 Not sure there is anything to be done here.

Uncommented line 267 in `pom.xml`
[code]
and ran `mvn clean install -Pqulice` getting
[code]

Here is the output of `mvn --version`
[code]

Maybe the error is more subtle?

[2015-01-20 09:00] yegor256 commented on #21
@pinaf sometimes issues are easily resolved. Just remove the comment and the puzzle and send a pull request

[2015-01-20 09:59] dmarkov commented on #41
@dpisarenko paid, thanks, added **30 mins** to your account, payment `50518509`. +30 to your rating, your total score is [+265](http://www.netbout.com/b/35089?open=rating)

[2015-01-20 15:21] pinaf commented on #21
@dmarkov please see PR #50

[2015-01-21 15:19] pinaf commented on #21
@dmarkov merged, please close.

[2015-01-21 22:46] maurezen opened #51 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-21 22:48] yegor256 commented on #51
@maurezen thanks for reporting it here, but there is no urgent need to update all jcabi projects to a new parent. Don't duplicate this issue please.

[2015-01-21 22:48] #51 closed

[2015-01-22 11:54] pinaf commented on #21
@dmarkov fixed and deployed :)

[2015-01-23 02:21] pinaf commented on #21
@dmarkov ping

[2015-01-23 08:19] cyberone commented on #48
@dmarkov assign this task somebody else please

[2015-01-23 10:15] dmarkov commented on #48
@cyberone right, I will find someone else, no problem

[2015-01-23 12:48] dmarkov commented on #21
Closing..

[2015-01-23 12:48] #21 closed

[2015-01-23 12:51] dmarkov commented on #21
@pinaf I just added **30 mins** to your account, many thanks for your contribution..

added +30 to your rating, now it is equal to [+180](http://www.netbout.com/b/35128?open=rating)

[2015-01-23 14:58] pinaf commented on #21
@dmarkov thank you

[2015-01-25 23:11] oruam85 commented on #39
@dmarkov The PR was merged. Please close this bug

[2015-01-27 18:09] oruam85 commented on #39
@dmarkov The PR was merged. Please close this bug

[2015-01-28 09:00] dmarkov commented on #48
@maurezen the task is yours

[2015-01-28 13:12] dmarkov commented on #11
@aoxa the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... added -30 to your rating, now it is equal to -240

[2015-01-28 14:15] oruam85 commented on #39
@dmarkov The PR was merged. Please close this bug too.

[2015-01-29 00:56] oruam85 commented on #39
@dmarkov The PR was merged. Please close this bug too.

[2015-01-30 00:25] aoxa commented on #11
HI @dmarkov I'm unable to build aether, it states that there are some tests failing even when I ran with -DskipTests. I have a possible solution but am unable to verify if it runs.
I've forked, updated the fork version, but still fails.

[2015-01-30 00:26] aoxa commented on #11
Tests in error:
  ClasspathTest.returnsArtifactWithHighestVersionNumber:102 » IllegalState class...
  ClasspathTest.buildsClasspath:72 » IllegalState class com.jcabi.aether.Aether ...
  ClasspathTest.comparesToAnotherClasspath:187 » IllegalState class com.jcabi.ae...
  ClasspathTest.buildsClasspathWithoutOptionalArtifacts:140 » IllegalState class...
  ClasspathTest.hasToStringWithBrokenDependency:

[2015-01-30 07:47] yegor256 commented on #11
@aoxa if master is broken, submit a bug about it, see http://www.yegor256.com/2014/04/13/bugs-are-welcome.html

[2015-01-30 08:17] dmarkov commented on #39
Closing, thanks all

[2015-01-30 08:17] #39 closed

[2015-01-30 08:19] dmarkov commented on #39
@oruam85 I added **30 mins** to your account, many thanks for working with the project!. added +30 to your rating, now it is equal to +210

[2015-02-01 22:07] maurezen commented on #48
@dmarkov @kjezek created a pull request #52

[2015-02-03 13:32] dmarkov commented on #11
@aoxa the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)... -60 added to your rating, current score is: -450

[2015-02-08 09:53] maurezen commented on #48
@kjezek fix merged to master. Please close the issue if it's solved.

[2015-02-10 08:23] maurezen commented on #48
@kjezek ping.

@yegor256 what do we do if the reporter doesn't appear here?

[2015-02-10 14:34] #48 closed

[2015-02-10 19:17] walknwind commented on #37
I believe you need to add a dependency to this in your project's POM:
[code]

Here is a pom.xml that worked for me:

[code]

[2015-02-10 19:27] walknwind opened #53 "Offline mode?"
I'm a bit new to Maven programming, but found this to a be a great tool to quickly get a list of transitive dependencies from a POM. Thanks! I'm using jcabi-aether completely outside a maven infrastructure (similar to the example here: http://aether.jcabi.com/)

I just tried it while my laptop was unplugged, though, and got the following stacktrace. Any chance jcabi-aether can be made to work in a

[2015-02-10 19:34] yegor256 commented on #53
@walknwind where do you expect it to load artifacts from, in offline mode? :)

[2015-02-10 19:36] yegor256 commented on #37
@walknwind thanks!

[2015-02-10 19:36] walknwind commented on #53
My local repo, specified in the Aether constructor?

[2015-02-10 19:39] yegor256 commented on #53
@walknwind I'm not sure we can do anything here. Sonatype is throwing this exception. We just let it bubble up. And it's very generic, we can't catch it.

[2015-02-10 19:41] walknwind commented on #53
@yegor256 gotcha - thanks!

[2015-02-10 21:21] yegor256 commented on #53
@walknwind please close the ticket :)

[2015-02-11 13:10] #53 closed

[2015-02-13 08:23] dmarkov commented on #48
@maurezen I added **30 mins** to your account, many thanks for working with the project!. +30 added to your rating, current score is: [+1125](http://www.netbout.com/b/35102?open=rating)

[2015-02-16 07:41] dmarkov commented on #4
the last puzzle `28-40ea2a55`/#40 solved

[2015-02-16 07:41] dmarkov commented on #28
last puzzled solved `28-40ea2a55`/#40

[2015-02-23 08:39] dmarkov commented on #11
@adko-pl the task is yours, go ahead

[2015-02-23 09:11] dmarkov commented on #18
the last puzzle `18-d2cf5a94`/#21 solved

[2015-02-25 22:27] adko-pl opened #54 ""Aether" links to a non existing page"
The "Aeather" link on

- http://aether.jcabi.com/
- and  https://github.com/jcabi/jcabi-aether

links to https://docs.sonatype.org/display/AETHER/Home which no longer exists (404).

[2015-02-28 07:58] adko-pl commented on #11
@dmarkov changes delivered in https://github.com/jcabi/jcabi-aether/pull/55

[2015-02-28 22:46] quartelh commented on #37
@walknwind I will give it a try.

[2015-02-28 22:53] quartelh commented on #37
I close this issue since @walknwind mentioned it worked.
I saw that the example is removed from the page so that does not need to be updated.

@yegor256 perhaps you want to comment on http://stackoverflow.com/questions/24925239/jcabi-aether-basic-example-doesnt-work ? I cannot judge if this solution is also solving that issue

[2015-02-28 22:53] #37 closed

[2015-03-02 07:59] dmarkov commented on #20
last puzzled solved `20-271b1ced`/#39

[2015-03-08 20:32] quartelh opened #56 "Can't get Authentication to work"
Hi, I do not think it is a bug, but I do not seem to get Authentication added to the RemoteRepository. jcabi Aether writes out '... from ["nexus (http://myserver/nexus/content/groups/public, releases+snapshots) without authentication"] into ...'

my code:

[code]

How do I correctly set authentication to the remoteRepository? For some reason Aether cannot find it, hence it writes out 'without auth

[2015-03-08 21:41] quartelh commented on #56
I also tried with ..."mypassword".toCharArray()...

[2015-03-10 19:15] adko-pl commented on #11
@dmarkov changes have been merged, please close this ticket

[2015-03-11 09:37] simonjenga opened #57 "Lines in file should end with Unix-like end of line"
```mvn clean install -Pqulice```

[code]

[2015-03-11 20:59] simonjenga commented on #44
@maurezen Fixed at https://github.com/jcabi/jcabi-aether/pull/58 , you may now close this issue.

[2015-03-11 21:02] #44 closed

[2015-03-12 04:14] pinaf commented on #11
@adko-pl you should ask the creator of the issue @krzyk to close it.

[2015-03-12 06:14] krzyk commented on #11
thanks

[2015-03-12 06:14] #11 closed

[2015-03-12 09:08] dmarkov commented on #11
once `11-2b91e5db` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-03-13 05:51] simonjenga commented on #57
fixed at https://github.com/jcabi/jcabi-aether/pull/59

[code]

[2015-03-13 05:52] simonjenga commented on #57
@dmarkov Would you mind generating for me a transaction ID for this issue?

[2015-03-13 08:16] dmarkov commented on #11
@adko-pl I just added **31 mins** to your account, many thanks for your contribution..

added +31 to your rating, now it is equal to [+76](http://www.netbout.com/b/35150?open=rating)

[2015-03-14 20:45] #57 closed

[2015-04-07 07:03] dmarkov opened #60 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 08:54] dmarkov opened #61 "Aether.java:94-97: Create an integration test for..."
Puzzle `11-2b91e5db` in `src/main/java/com/jcabi/aether/Aether.java:94-97` has to be resolved: Create an integration test for reading proxy information from maven settings.xml file that will mock an HTTP server using jcabi-http, provide a maven configuration file with proxy settings and verify the expected HTTP requests have been sent to the mocked server.... The puzzle was created by Adam Siemion

[2015-04-07 12:30] dmarkov opened #62 "0.11"
Please, publish a new release **0.11** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-09 08:03] dmarkov opened #63 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-05-12 07:42] dmarkov commented on #62
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 07:53] dmarkov commented on #62
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-27 08:42] dmarkov commented on #60
@super132 it's your task, go ahead

[2015-05-28 00:13] super132 commented on #60
@dmarkov PR #64 fixed this issue. Would you please close this ticket? Thanks.

[2015-05-30 01:04] super132 commented on #60
@dmarkov , could you please close this ticket? Thanks.

[2015-06-01 07:21] dmarkov commented on #63
@yegor256 Closing this issue now...

[2015-06-01 07:21] #63 closed

[2015-06-01 17:19] yegor256 commented on #60
@rultor deploy

[2015-06-01 17:19] rultor commented on #60
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4004-107644187)

[2015-06-01 17:24] rultor commented on #60
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4004-107644187) (took me 5min)

[2015-06-02 00:20] super132 commented on #60
@dmarkov it has been 5 days since PR is merged. Would you please close it?

[2015-06-03 07:02] dmarkov commented on #61
@yamstranger it's in your hands now, please proceed

[2015-06-03 07:37] super132 commented on #60
@dmarkov The PR has been merged for a week and this ticket is still not closed. Would you please close it?

[2015-06-03 09:15] dmarkov commented on #60
@super132 I added **30 mins** to your account, many thanks for working with the project! The completion time here was AP-9WV79674JX7522642.. +30 added to your rating, at the moment it is: [+361](http://www.netbout.com/b/35282?open=rating)

[2015-06-04 07:40] dmarkov commented on #60
@yegor256 The task is done, thanks all, I am closing it

[2015-06-04 07:40] #60 closed

[2015-06-04 07:40] dmarkov commented on #62
@yegor256 The issue should be closed..

[2015-06-04 07:40] #62 closed

[2015-06-09 21:43] YamStranger commented on #61
@dmarkov I need more time here

[2015-06-10 08:54] dmarkov commented on #61
@yamstranger OK, take your time

[2015-06-15 07:31] dmarkov commented on #54
@yegor256 please do something about this issue

[2015-06-15 07:31] dmarkov commented on #56
@yegor256 dispatch this issue please

[2015-07-08 03:57] yegor256 commented on #57
@simonjenga a bug is paid only after it is qualified as a bug, but project architect. It didn't happen here. Once you report a bug, wait for the project architect to react to it and either say that it's a valid bug or close it.

[2015-07-14 00:19] yegor256 commented on #56
@quartelh sorry for the delay. do you still have this problem? looks like something is wrong with your code..

[2015-07-14 00:20] yegor256 commented on #54
@adko-pl fixed in 3f5ff04 thanks!

[2015-07-14 00:20] #54 closed

[2015-07-14 16:52] quartelh commented on #56
Hi, 
I have abandoned using jcabi, since I could not get it to work. 
Could also be a dependency on a lib that does not seems obvious, but I was unable to pinpoint it. 
The use case is connecting to a repository that requires authentication and is behind a proxy (also with authentication), so I do not know how easy it is to reproduce this. 

Groeten,Herbert
Verzonden vanaf Samsung Mobile.

-------

[2015-07-22 06:52] qxo commented on #40
I can not use  this Aether on Maven 3.1, so I have to switch aether library to http://www.eclipse.org/aether/

https://github.com/qxo/jcabi-aether/commit/6317fd43acb41f6662f2934ed3615543ab4fc0d6

[2015-09-01 17:47] siegfried01 opened #65 "Exception in thread "main" org.sonatype.aether.resolution.DependencyResolutionException: failed to load 'org.dbunit:dbunit:jar:2.5.0 (runtime)' from ["maven-central (http://repo1.maven.org/maven2/, releases+snapshots) without authentication"] into repo"
I found this code at  http://stackoverflow.com/questions/11799923/programmatically-resolving-maven-dependencies-outside-of-a-plugin-get-reposito

This sample code works for some projects but not other.

Looks like there is a logic error with regard to security/authentication:

Exception in thread "main" org.sonatype.aether.resolution.DependencyResolutionException: failed to load 'org.dbunit:dbunit

[2015-09-07 07:05] dmarkov commented on #65
@yegor256 please do something about this issue

[2015-09-07 09:58] yegor256 commented on #65
@siegfried01 are you sure artifact `com.oracle:ojdbc14:jar:10.2.0.4.0` exists in Maven Central?

[2015-09-07 15:48] YamStranger commented on #61
@dmarkov I cant find any way to solve it even in other projects. Please assign to developer who know how do it.

[2015-09-10 08:13] dmarkov commented on #61
@yamstranger 30 points was deducted from your rating

[2015-09-10 08:13] dmarkov commented on #61
@yamstranger I will ask somebody else to pick this up

[2015-10-03 00:22] mykelalvis opened #66 "Cannot figure out how to make jcabi-aether play well with maven 3.3.3 plugin development."
The latest (as of now) version of Maven is 3.3.3.  To use the features of that version required maven-core-3.3.3, which depends on maven-aether-provider-3.3.3 which depends directly on org.eclipse.aether:aether-api:1.0.2.v20150114.

During development of a Maven plugin for 3.3.3, I have been unable to adjust dependencies (within my relatively set boundaries around maven 3.3.3) to make `jcabi-aethe

[2015-10-06 09:51] dmarkov commented on #61
@shelan the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-10-06 09:51] dmarkov commented on #66
@yegor256 dispatch this issue please

[2015-10-07 07:58] dmarkov commented on #66
@krzyk it's your task now, go ahead

[2015-10-09 15:00] shelan opened #67 "No documentation on how to configure custom settings.xml for Aether"
If someone needs to use a custom settings.xml there is no documentation available on how to do it. According to the code in https://github.com/jcabi/jcabi-aether/blob/master/src/main/java/com/jcabi/aether/Aether.java

Method settings() suggest several ways. This is important as some operating systems have different locations to store user's settings.xml. Further to write integration tests a develo

[2015-10-09 20:26] shelan opened #69 "CI build fails on Open JDK6 but succeed on OpenJDK7 and OracleJDK7"
Could observe the following failures in the travis build  114.2

[code]

[2015-10-09 20:55] shelan commented on #61
I have created an PR here.  #68

[2015-10-13 07:55] dmarkov commented on #67
@yegor256 please dispatch this issue

[2015-10-13 07:55] dmarkov commented on #69
@yegor256 please do something about this issue

[2015-10-15 09:00] dmarkov commented on #61
@shelan OK thanks

[2015-10-15 09:02] dmarkov commented on #69
@shelan thanks for tis bug, I topped your account for 15 mins, transaction `67399158`

[2015-10-15 20:03] shelan commented on #61
@dmarkov need more time

[2015-10-16 07:18] dmarkov commented on #61
@shelan take your time, I am aware that we're waiting here

[2015-10-20 16:51] yegor256 commented on #67
@shelan I'm not sure I understand. First, where this "method settings()" is coming from? What class? Second, how `settings.xml` are related to the class `Aether`?

[2015-10-22 08:50] dmarkov commented on #66
@krzyk you're holding this task for 15 days already; -30 added to your rating, current score is: [+3238](http://www.netbout.com/b/35035?open=rating)

[2015-10-22 10:07] krzyk commented on #66
@dmarkov please assign someone else

[2015-10-22 12:15] dmarkov commented on #66
@krzyk -30 points to your rating :(

[2015-10-22 12:15] dmarkov commented on #66
@krzyk got it, someone else will be assigned soon

[2015-10-22 21:11] shelan commented on #67
@yegor256 settings() methods is here.
https://github.com/jcabi/jcabi-aether/blob/master/src/main/java/com/jcabi/aether/Aether.java#L374

It is being used to get the proxy configuration/ other configurations to populate repository objects.

https://github.com/jcabi/jcabi-aether/blob/master/src/main/java/com/jcabi/aether/Aether.java#L218

https://github.com/jcabi/jcabi-aether/blob/master/src/main/ja

[2015-10-26 13:31] shelan commented on #61
@dmarkov waiting for #68 to be merged.

[2015-10-28 08:26] dmarkov commented on #61
@shelan #68 is a pull request, we can't call it an impediment

[2015-11-13 17:13] lmprice opened #70 "Pom file parent as a dependency"
Hey,

I'm currently writing a small application to mirror dependencies from maven central into a local repository that will be pushed to another server and be used offline for more "official" builds. One thing I've noticed is that some dependencies will have a pom file that references another pom, called the parent. Aether will retrieve these files, but they aren't treated as true dependencies. Th

[2015-11-17 09:36] dmarkov commented on #70
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-07 17:51] yegor256 commented on #70
@lmprice good question... I don't have an answer. let's register this bug and maybe someone from our team can fix it.

[2016-01-08 07:31] vicmosin opened #71 "Maven migration issue"
Due to https://issues.apache.org/jira/browse/MNG-5354 all the maven plugins should use `org.eclipse.aether` instead of `org.sonatype.aether` starting from 3.1.1. Your `resolve` method still receives the "old" Artifact argument (from sonatype). I'd say it's better to move to eclipse one or, if you want to support all maven versions, to some independent object,

[2016-01-08 07:54] simonjenga opened #72 "public String constants in MavenClasspath already exist"
public String constants in ```com.jcabi.aether.MavenClasspath``` already exist and are defined in the interface ```org.apache.maven.artifact.Artifact```

https://github.com/apache/maven/blob/master/maven-artifact/src/main/java/org/apache/maven/artifact/Artifact.java

https://maven.apache.org/ref/3-LATEST/maven-artifact/apidocs/index.html?overview-summary.html

Let's use those defined in the interf

[2016-01-11 09:18] dmarkov commented on #72
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-01-11 09:18] dmarkov commented on #71
@yegor256 please dispatch this issue

[2016-01-11 10:16] yegor256 commented on #71
@vicmosin good point... would you be willing to submit a pull request?

[2016-01-12 05:05] oruam85 opened #73 "Update the Copyright year"
In the license.txt file the Copyright year should be 2016

[2016-01-15 09:20] vicmosin commented on #71
Actually I prepared almost everything it's at https://github.com/vicmosin/jcabi-aether, but the problem is that your requirement `@Immutable` fails in one case because of the inconsistency between sonatype and eclipse implementations.

[2016-01-18 07:30] dmarkov commented on #70
@gmandnepr could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-18 07:30] dmarkov commented on #73
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-19 10:05] dmarkov commented on #69
@piddubnyi the issue is yours, please help

[2016-01-20 09:21] gmandnepr commented on #70
@yegor256 Parent is not a dependency in any of org.sonatype.aether.util.artifact.JavaScopes. So I believe it should not be accessible via current Aether#resolve() or RootArtifact#children().

I could add RootArtifact#parent(). This method will have to read pom file from repository as parent information is not present in Artifact.

https://dev.eclipse.org/mhonarc/lists/aether-users/msg00115.html
ht

[2016-01-24 17:46] gmandnepr commented on #70
@dmarkov I can't wait more for response on previous comment. Please re-assign this task on someone else

[2016-01-25 12:22] dmarkov commented on #70
@gmandnepr 30 points was deducted from your rating

[2016-01-25 12:22] dmarkov commented on #70
@gmandnepr I will try to find someone else

[2016-01-26 10:31] dmarkov commented on #70
@piddubnyi the task is yours

[2016-01-28 08:28] piddubnyi commented on #69
@shelan Initial issue is solved and merged. Additional puzzles were added to fix Open JDK6 build. Please close this one.

[2016-01-28 09:25] shelan commented on #69
@piddubnyi Thanks you. I am closing the issue since it is merged.

[2016-01-28 09:25] #69 closed

[2016-01-28 16:39] mkordas opened #77 "Build for Java 6 has failing tests"
Currently the build for master branch (https://travis-ci.org/jcabi/jcabi-aether/builds/105378291) is failing on the following tests:
[code]
Detailed execution logs:
[code]
Moreover, I see the following exception logged during build execution:
[code]

I expect those 4 tests to and root cause of `UnsupportedClassVersionError` to be fixed.

[2016-01-28 16:44] #77 closed

[2016-01-29 11:32] dmarkov commented on #69
@piddubnyi Thanks so much! Your account was topped up for **30 mins** (transaction ID is `75886391`, the task took 216 hours and 2 mins); +30 added to your rating, at the moment it is: [+180](http://www.netbout.com/b/35966?open=rating)

[2016-01-29 12:53] dmarkov opened #78 "Aether.java:97-97: Fix NullPointerExceptions in CL build..."
Puzzle `69-fd6545e6` in `src/main/java/com/jcabi/aether/Aether.java:97-97` has to be resolved: Fix NullPointerExceptions in CL build for Open JDK6.... The puzzle was created by Igor Piddubnyi on 25-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is removed from the source code.

[2016-01-29 12:53] dmarkov commented on #69
@shelan these 2 puzzles were created in this ticket: `69-fd6545e6`/#78, `69-46002db1`

[2016-02-01 09:33] dmarkov opened #79 "Aether.java:98-98: Fix UnsupportedClassVersionError in CL build..."
Puzzle `69-46002db1` in `src/main/java/com/jcabi/aether/Aether.java:98-98` has to be resolved: Fix UnsupportedClassVersionError in CL build for Open JDK6.... The puzzle was created by Igor Piddubnyi on 27-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is removed from the source c

[2016-02-08 08:56] dmarkov commented on #78
@amihaiemil could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-02-08 12:20] piddubnyi commented on #70
@dmarkov Assign to someone else please.

[2016-02-08 13:55] dmarkov commented on #70
@piddubnyi -30 points to your rating :(

[2016-02-08 13:55] dmarkov commented on #70
@piddubnyi got it, someone else will be assigned soon

[2016-02-14 20:10] amihaiemil commented on #78
@dmarkov I created PR #80 for this issue.

[2016-02-15 07:16] dmarkov commented on #78
@amihaiemil thank you

[2016-02-16 12:02] dmarkov commented on #70
@amihaiemil the task is yours

[2016-02-16 21:01] amihaiemil commented on #78
@dmarkov The PR #80 for this has been merged and closed. You can close this ticket.

[2016-02-18 13:54] amihaiemil commented on #78
@dmarkov Don't forget to close this ticket. Thanks.

[2016-02-22 06:57] amihaiemil commented on #78
@dmarkov ping. Please close this.

[2016-02-22 06:58] amihaiemil commented on #70
@dmarkov Please assign to someone else.

[2016-02-23 07:55] amihaiemil commented on #78
@dmarkov ping

[2016-02-24 07:48] dmarkov commented on #70
@amihaiemil 30 points deducted from your rating

[2016-02-24 07:48] dmarkov commented on #70
@amihaiemil OK, I will try to assign someone else

[2016-02-24 07:48] dmarkov commented on #78
@amihaiemil OK

[2016-02-24 07:50] dmarkov commented on #78
@amihaiemil check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

do not forget that you should remove the `@

[2016-02-24 07:50] dmarkov commented on #79
@nikoladespotoski the task is yours please proceed

[2016-02-24 08:12] amihaiemil commented on #78
@dmarkov I created PR #81 in which I removed the puzzle... I honestly forgot about it all along the way. Please find someone to merge it asap. Thanks.

[2016-02-25 08:32] original-brownbear opened #82 "Rultor Build Fails on Recent Versions of yegor256/rultor"
This is the explaination for https://github.com/jcabi/jcabi-aether/pull/81 failing.
You can find more information on this here: https://github.com/yegor256/rultor/issues/1018

In essence this is what happened here specific to this project:
Currently the project sees this error in the build when merging for example [here](http://www.rultor.com/t/7273-188460878):
[code]

This is caused by:
https://g

[2016-02-25 08:51] amihaiemil commented on #78
@dmarkov I need more time

[2016-02-25 08:52] amihaiemil commented on #78
@dmarkov we have to wait for issue #82 to be solved

[2016-02-26 09:02] dmarkov commented on #78
@amihaiemil I never forget

[2016-02-26 09:02] dmarkov commented on #78
@amihaiemil no need to ping me, I know when to close tickets

[2016-02-26 09:02] dmarkov commented on #78
@amihaiemil instead of pinging me, try not to forget to remove puzzles :)

[2016-02-26 09:02] dmarkov commented on #78
@amihaiemil of course, take your time

[2016-02-26 10:03] amihaiemil commented on #78
@dmarkov My apologies... don't forget we're waiting here for issue #82 here. Thanks

[2016-02-29 10:18] dmarkov commented on #78
@amihaiemil sure, we'll wait for #82

[2016-02-29 10:20] dmarkov commented on #82
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-02-29 16:53] yegor256 commented on #82
@original-brownbear can't we just modify the code of this project so that it starts to work with the newest Docker image from Rultor?

[2016-02-29 17:01] original-brownbear commented on #82
@yegor256 yes you can, but adding the custom image really is just:
* Build image from old Rultor image version, or simply create a tag for that image in fact
* add that one line to `.rultor.yml` specifying the image

... while fixing it in the code is adding a line to load some Maven `settings.xml` to the Rultor script adding the correct mirror. Well and adding that `settings.xml` to the repo..

T

[2016-02-29 17:07] yegor256 commented on #82
@original-brownbear I think, the best approach is to start tagging Docker images in Rultor project. now there is just one tag: `latest`. If we start tagging them, we will be able to specify a tagged image in this project, which will solve the problem. see?

[2016-02-29 17:08] original-brownbear commented on #82
@yegor256 jup as I said above that would be the easiest :)

[2016-02-29 17:10] yegor256 commented on #82
@original-brownbear let's fix that in Rultor first? to make that tags available. also, let's make it possible to provide a tag in `.rultor.yml` config. and then, we'll get back to this ticket. right?

[2016-02-29 17:43] original-brownbear commented on #82
@yegor256 ticket created: https://github.com/yegor256/rultor/issues/1033, this is a job for you I'm afraid.

[2016-03-01 10:35] dmarkov commented on #66
@piddubnyi please help, the task is yours

[2016-03-02 04:57] yegor256 commented on #82
@original-brownbear I'll take a look

[2016-03-02 14:20] original-brownbear commented on #82
@yegor256 now that the Rultor ticket is dealt with you should be able to simply do this (tried it with my fork):
[code]
That should trigger the build of `1.61.3` which was working with this project as far as I can see and then just put:
[code]
in the `.rultor.yml` and be happy in all likelihood :)

[2016-03-02 21:29] yegor256 commented on #82
@original-brownbear done: https://hub.docker.com/r/yegor256/rultor/builds/bbvxn3arbq5bhcdk7ucyxxe/

[2016-03-02 21:55] original-brownbear commented on #82
@yegor256 it errored :/, can you try again ? Maybe just some apt-get timeout.
![screenshot from 2016-03-02 22-54-06](https://cloud.githubusercontent.com/assets/6490959/13476801/c7ff529a-e0c9-11e5-8f02-0b055ccb6ae4.png)

[2016-03-02 22:08] yegor256 commented on #82
@original-brownbear trying again: https://hub.docker.com/r/yegor256/rultor/builds/bsyzeopmvzpkvfafaap5bxs/

[2016-03-02 22:29] original-brownbear commented on #82
@yegor256 damn it failed again but the reason is clear at least:
The build uses the `1.61.3` Dockerfile but the Dockerfile contains running a Rultor git pull and then build. This cannot work because it pulls the latest Rultor version. For all future tags this will be fine, but rebuilding past tags will break for all tags before the upgrading of Rultor dependencies I fear.
Really I think the approa

[2016-03-02 22:55] yegor256 commented on #82
@original-brownbear maybe it's better to create a new tag 1.61.3.1, which will be cloned from 1.61.3 and will have no rultor build inside?

[2016-03-02 23:04] original-brownbear commented on #82
@yegor256 honestly I only see downsides to this approach. It's the same amount of work and creates a much harder to maintain situation for this project. If you want to upgrade dependencies here, you'll have to either count on there being a working tag of Rultor for the upgraded dependencies or add a Dockerfile here afterall.
If you add the file here, all future dependency issues can be resolved he

[2016-03-02 23:34] yegor256 commented on #82
@original-brownbear yes, I agree. let's go for it.

[2016-03-09 15:29] amihaiemil commented on #82
@original-brownbear what's the status here? :)

[2016-03-09 15:30] original-brownbear commented on #82
@amihaiemil I'm not sure, as far as I understand the above conversation this ticket is a valid bug and needs to be handled.

[2016-03-09 15:30] original-brownbear commented on #82
@yegor256 see above 2 comments, you don't need anything from me here right?

[2016-03-10 07:57] dmarkov commented on #79
@nikoladespotoski you're holding this task for 15 days already. do not forget that the ticket will be closed once the `@todo` puzzle is removed from the code, in master branch. -30 added to your rating, current score is: [+155](http://www.netbout.com/b/36438?open=rating)

[2016-03-10 08:10] NikolaDespotoski commented on #79
@dmarkov assign someone else

[2016-03-10 10:26] dmarkov commented on #79
@nikoladespotoski got it, someone else will be assigned soon

[2016-03-11 03:21] yegor256 commented on #82
@original-brownbear no, we're good, it's a bug

[2016-03-11 08:07] dmarkov commented on #82
@original-brownbear thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-226479170T671113C`

[2016-03-16 10:53] dmarkov commented on #66
@piddubnyi the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 to your rating, your total score is [-60](http://www.netbou

[2016-03-21 12:03] dmarkov commented on #66
@piddubnyi you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 to your rating, your total score is [-180](http://www.netbout.com/b/35966?open=rating)

[2016-04-04 07:41] dmarkov commented on #82
@amihaiemil it's yours, please go ahead

[2016-04-04 15:01] amihaiemil commented on #82
@original-brownbear I'm new to docker (trying to get a decent grip of it now, since I have this task)

I got the big picture of what needs to be done from your comments, but I have a few questions, if you're willing to answer:

First, what I know is that docker acts like a virtual machine and using the Dockerfile you simply setup the build environment and then specify some commands (in our case ``

[2016-04-04 16:33] original-brownbear commented on #82
@amihaiemil let me try :)

answers can be found here:
1. What is an image ? =>  Read [this](https://docs.docker.com/engine/understanding-docker/)
2. About Rultor + images => Read [this](http://doc.rultor.com/reference.html)
3. No :) those commands are only run once, see the link in 1. ;)
4. No the git interaction needs to happen in Rultor, otherwise you simply remove the Rultor functionality from

[2016-04-13 12:42] amihaiemil commented on #82
@dmarkov The PR #83 for this issue has been merged and closed. Can you close this ticket? Thanks

[2016-04-13 12:44] original-brownbear commented on #82
@amihaiemil I'm the issue author, you need to ask me to close it ;)
=> closed :)

[2016-04-13 12:44] #82 closed

[2016-04-13 12:49] dmarkov commented on #78
@yegor256 FYI, issue #82 is already closed, and we were waiting for it..

[2016-04-13 16:38] amihaiemil commented on #82
@original-brownbear sure, thanks. I asked the PM out of habbit.

[2016-04-14 13:32] dmarkov commented on #82
@amihaiemil Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-1WE51508E7353410P`, 221 hours and 7 mins spent total. +30 to your rating, your total score is [+240](http://www.netbout.com/b/36402?open=rating)

[2016-04-18 15:16] amihaiemil commented on #78
@dmarkov PR #81 has been merged and closed. Please close this ticket. Thanks.

[2016-04-18 15:18] amihaiemil commented on #78
@dmarkov It says that I removed my assignment. I only left a comment. I don't know what happenned.

[2016-04-20 17:26] amihaiemil commented on #78
@dmarkov please don't forget to close this ticket. Thanks.

[2016-04-21 07:47] amihaiemil commented on #78
@yegor256 Same here (as in https://github.com/jcabi/jcabi-email/issues/36),, my assignment was removed when I left a comment.

[2016-04-21 11:39] dmarkov commented on #78
@amihaiemil OK

[2016-04-21 11:39] dmarkov opened #84 "Aether.java:97-100: Clean unnecessary docker setup (src/docler/Dockerfile),..."
Puzzle `82-ba434d45` in `src/main/java/com/jcabi/aether/Aether.java:97-100` has to be resolved: Clean unnecessary docker setup (src/docler/Dockerfile), make the configuration minimal. Set versions to the used packages (e.g. lock java version instead of default jdk). After changes, the file needs to be uploaded to Dockerhub and be built there.... The puzzle was created by Mihai Andronache on 7-Apr-

[2016-04-21 11:39] dmarkov commented on #82
@original-brownbear the code made here contains a puzzle `82-ba434d45`/#84, which will be resolved soon

[2016-04-25 09:18] dmarkov commented on #78
@yegor256 The issue is closed

[2016-04-25 09:18] #78 closed

[2016-04-25 09:19] dmarkov commented on #78
@amihaiemil Thank you, I have added **30 mins** to your account in payment/transaction "`AP-5U600179DS555602E`", time consumed: 190 hours and 49 mins. +30 added to your rating, at the moment it is: [+360](http://www.netbout.com/b/36402?open=rating)

[2016-05-05 10:12] amihaiemil opened #85 "Aether.java Useless collection"
In constructor ``public Aether(final Collection<RemoteRepository> repos,
        final File repo) ``:

Why is the intermediary ``rlist`` Collection needed? Currently ``rlist`` is populated and then transformed into an array to be stored in ``this.remotes``. Can't we simply declare ``this.remotes = new Repository[repos.size()];`` at the beginning and then add items in the for loop, like this ``this

[2016-05-05 10:23] amihaiemil opened #86 "Refactor method Aether.resolve(...)"
In method ``public List<Artifact> resolve(final Artifact root,
        final String scope, final DependencyFilter filter)``, variables ``rdep`` and ``crq`` are both used only once and can be refactored from:
[code]
to this method call:
``this.request(new Dependency(root, scope))``

[2016-05-09 07:20] dmarkov commented on #86
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-05-09 07:20] dmarkov commented on #85
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-11 04:58] amihaiemil commented on #85
@yegor256 can you have a look here pls? Thanks

[2016-05-11 04:58] amihaiemil commented on #86
@yegor256 can you have a look here pls? Thanks

[2016-05-12 07:31] amihaiemil commented on #86
@yegor256 ping

[2016-05-12 07:31] amihaiemil commented on #85
@yegor256 ping

[2016-05-16 07:19] amihaiemil commented on #86
@yegor256 Don't forget about this pls

[2016-05-16 07:19] amihaiemil commented on #85
@yegor256 Don't forget about this pls

[2016-06-10 12:05] ScienJus opened #87 "org.sonatype.aether.RepositorySystemSession Class Not Found when maven version >= 3.1.0"
when i used maven `3.1.1`, running plugin would be failed like:

[code]

but maven `3.0.4` is ok.

[2016-06-14 10:30] dmarkov commented on #87
@yegor256 please dispatch this issue

[2016-06-16 03:30] yegor256 commented on #85
@amihaiemil this is very cosmetic. also, making the changes you're suggesting won't really make less lines in this ctor. also, will make `this.remotes` very mutable, which is technically OK, but not how we want to think about it

[2016-06-16 03:31] #85 closed

[2016-06-16 03:43] yegor256 commented on #86
@amihaiemil fixed in 5a2c37a thanks

[2016-06-16 03:43] #86 closed

[2016-06-18 09:53] simonjenga opened #88 "Constructors for classpath of Maven Project should accept var args"
The following constructors should be refactored in order to accept variable arguments. At the moment they can only accept one String argument e.g. "runtime" or "compile"

[code]

Once the refactoring is done, it will be possible to pass more that one argument for the scope to use e.g: ``` "runtime", "compile", "test", "system", "provided" ```

[2016-06-21 11:02] dmarkov commented on #88
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-06-22 23:01] yegor256 commented on #87
@ScienJus what plugin are you talking about?

[2016-06-23 02:34] ScienJus commented on #87
@yegor256  my custom plugin, just want to use `Classpath`。

when maven version >= `3.1.1`， `org.sonatype.aether.RepositorySystemSession` is instead of `org.eclipse.aether.RepositorySystemSession`。so will be this error，so this will happen。

[2016-06-23 08:33] dmarkov commented on #88
@simonjenga thank you for reporting this, I added 15 mins to your acc, transaction `90841318`

[2016-06-23 13:26] simonjenga commented on #72
@dmarkov I am still waiting for a response on this issue... :eyes:

[2016-06-27 23:05] yegor256 commented on #87
@ScienJus I think we need to see your code in order to fix that problem. can you share it here? how can we reproduce the bug?

[2016-06-28 09:08] ScienJus commented on #87
@yegor256

just like this:

[code]

maven will inject `RepositorySystemSession`，but when maven version <= '3.1.1'，it is `org.sonatype.aether.RepositorySystemSession` and oterwise it is `org.eclipse.aether.RepositorySystemSession`.

you need to update `pom.xml` like :

[code]

from

[code]

then it will be normal in maven 3.1

[2016-06-28 23:54] yegor256 commented on #87
@ScienJus can you submit a pull request?

[2016-08-08 08:01] dmarkov commented on #88
@amihaiemil the task is yours

[2016-08-10 16:37] amihaiemil commented on #88
Pr #89 is for this issue

[2016-08-16 04:27] amihaiemil commented on #88
@simonjenga The PR was merged and closed. Can you close this issue? :D

[2016-08-16 15:51] amihaiemil commented on #88
@simonjenga ping

[2016-08-17 07:16] amihaiemil commented on #88
@simonjenga please don't forget about this! Thanks

[2016-08-17 08:37] simonjenga commented on #88
:ok:
Try to relax! :relaxed:

[2016-08-17 08:37] #88 closed

[2016-08-17 08:39] amihaiemil commented on #88
@simonjenga thanks :D

[2016-08-17 08:39] amihaiemil commented on #88
@dmarkov This issue is now closed.

[2016-08-17 11:34] dmarkov commented on #84
@prondzyn it's your task, go ahead

[2016-08-18 12:10] dmarkov commented on #88
@amihaiemil Many thanks! **30 mins** were added to your account in Transaction ID `AP-8TW75534JU567725X` (task took 219 hours and 31 mins)

added +30 to your rating, now it is equal to [+195](http://www.netbout.com/b/36402?open=rating)

[2016-08-19 08:14] dmarkov commented on #88
@amihaiemil OK thanks

[2016-08-19 08:14] dmarkov commented on #88
@amihaiemil we're good here

[2016-08-22 04:00] prondzyn commented on #84
@dmarkov please find someone else

[2016-08-22 08:26] dmarkov commented on #84
@prondzyn I deducted 30 points from your rating

[2016-08-22 08:26] dmarkov commented on #84
@prondzyn got it, someone else will be assigned soon

[2016-08-25 12:42] dmarkov commented on #84
@amihaiemil please help, the task is yours

[2016-08-28 13:35] amihaiemil commented on #84
@dmarkov PR #90  is for this

[2016-08-29 10:16] dmarkov commented on #84
@amihaiemil thank you

[2016-09-06 06:39] amihaiemil commented on #84
@dmarkov I need more time

[2016-09-06 07:54] dmarkov commented on #84
@amihaiemil sure, thanks for telling me, take your time

[2016-09-23 17:49] amihaiemil commented on #84
@dmarkov close this ticket please

[2016-09-27 11:37] dmarkov commented on #70
@prondzyn the task is yours, go ahead

[2016-09-28 07:19] prondzyn commented on #70
@dmarkov PR #91 prepared

[2016-09-28 10:07] dmarkov commented on #70
@prondzyn thank you!

[2016-09-29 05:02] amihaiemil commented on #84
@dmarkov ping

[2016-09-29 08:10] dmarkov commented on #84
@yegor256 The task is done, thanks all, I am closing it

[2016-09-29 08:10] #84 closed

[2016-09-29 08:12] dmarkov commented on #84
@amihaiemil **30 mins** added to your account (payment number `AP-67N467683P411290K`), many thanks for your contribution! 790 hours and 54 mins spent here.; +30 to your rating, your total score is [+564](http://www.netbout.com/b/36402?open=rating)

[2016-10-05 03:42] prondzyn commented on #70
@dmarkov I need more time waiting on @yegor256 's confirmation.

[2016-10-05 07:55] dmarkov commented on #70
@prondzyn of course, take your time

[2016-10-15 05:16] prondzyn commented on #70
@dmarkov I need more time. Still waiting on @yegor256.

[2016-10-17 08:26] dmarkov commented on #70
@prondzyn sure, take your time, I know about this pause

[2016-10-18 13:27] bwa opened #92 "java.lang.NoClassDefFoundError: org/apache/maven/settings/building/SettingsBuildingException"
I'm trying to get the demo working is for a standalone java program, but is getting java.lang.NoClassDefFoundError: org/apache/maven/settings/building/SettingsBuildingException when calling resolve().

I need to import org.apache.maven.project.MavenProject to get the demo compiled, but which version of maven-project is needed.

I have tried several version, and this is the latest I could find, but

[2016-10-20 11:10] sianiresearch opened #93 "disable debug loggin"
How can I disable or turn off the logging of aether??

[2016-10-25 04:05] prondzyn commented on #70
@dmarkov I need more time. Still waiting on @yegor256.

[2016-10-28 10:45] dmarkov commented on #70
@prondzyn sure, take your time, I know about this pause

[2016-10-28 10:46] dmarkov commented on #92
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-10-28 10:46] dmarkov commented on #93
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-04 06:02] prondzyn commented on #70
@dmarkov I need more time. Still waiting on @yegor256.

[2016-11-04 06:33] amihaiemil commented on #70
@prondzyn just as a note, as far as I know, it's enough to let the pm know just once - I asked more time once in August and that's it, still waiting ^^

[2016-11-04 06:42] prondzyn commented on #70
@amihaiemil thanks for letting me know. No one had told me about this before and I didn't find any info about it ;)

[2016-11-04 10:18] dmarkov commented on #70
@prondzyn yeah, I know, take your time

[2016-11-08 11:59] dmarkov commented on #82
@original-brownbear the last puzzle `82-ba434d45`/#84 originated from here solved

[2016-11-08 12:04] amihaiemil commented on #82
@original-brownbear I think something like this:
![image](https://cloud.githubusercontent.com/assets/6305156/20098388/313620e2-a5bc-11e6-9af6-364bfeb7cd5a.png)
would be more accurate for Dan's avatar...

[2016-11-14 04:38] prondzyn commented on #70
@dmarkov I need more time. Still waiting on @yegor256.

[2016-11-14 11:22] dmarkov commented on #70
@prondzyn take your time, I am aware that we're waiting here

[2016-11-14 14:38] zdghit opened #94 "why i can not get dependencies by use jcabi.aether?"
I use like this:
        Collection<Artifact> deps = new Aether(remotes, local).resolve(
                    new DefaultArtifact(
                            "com.baidu.fengchao.thunder:thunder-parent:pom:1.0.0-SNAPSHOT"
                     ),  JavaScopes.RUNTIME
                   );
   here is my repository,why can not get dependencies?
   Because there is not a thunder.parent.jar ?  but i want

[2016-11-18 08:02] dmarkov commented on #94
@yegor256 please dispatch this issue

[2016-11-21 13:46] prondzyn commented on #70
@lmprice PR #91 merged. Please close this issue.

[2016-11-21 19:37] yegor256 commented on #93
@sianiresearch of course, just suppress/filter-out them in your logging facility (like log4j).

[2016-11-21 19:37] #93 closed

[2016-11-21 21:04] yegor256 commented on #94
@zdghit what exactly is the problem? What exception you're getting?

[2016-11-22 07:50] yegor256 commented on #92
@bwa just use the ones we're using in our [`pom.xml`](https://github.com/jcabi/jcabi-aether/blob/master/pom.xml)

[2016-11-23 12:19] dmarkov opened #95 "RootArtifactTest.java:53-56: Implement RootArtifact#parent method. It should..."
Puzzle `70-7b24e628` in `src/test/java/com/jcabi/aether/RootArtifactTest.java:53-56` has to be resolved: Implement RootArtifact#parent method. It should resolves parent of this root artifact. Do not hesitate change method signature if any additional parameter will be required. Afterwards remove @Ignore marker from RootArtifactTest#resolvesParent test.... The puzzle was created by Piotr Pradzynski

[2016-11-23 12:19] dmarkov commented on #70
@lmprice the code made here contains a puzzle `70-7b24e628`/#95, which will be resolved soon

[2016-11-24 17:34] prondzyn commented on #70
@lmprice can you close this issue, please?

[2016-11-25 20:06] lmprice commented on #70
@prondzyn Much appreciated.

[2016-11-25 20:06] #70 closed

[2016-11-29 10:56] dmarkov commented on #70
@prondzyn paid, thanks, added **30 mins** to your account, payment `AP-21A42504P7427034U`, 1483 hours and 39 mins was spent

+30 added to your rating, current score is: [+150](http://www.netbout.com/b/35715?open=rating)

[2016-12-22 09:42] #61 closed

[2016-12-22 09:42] #79 closed

[2016-12-22 09:42] #95 closed

[2016-12-22 09:42] dmarkov commented on #61
@yegor256 Done, thanks all, closing..

[2016-12-22 09:42] dmarkov commented on #79
@yegor256 Thanks all, I am closing

[2016-12-22 09:42] dmarkov commented on #95
@yegor256 Closing, thanks all

[2016-12-22 09:43] dmarkov commented on #61
@shelan I just added **30 mins** to your account, many thanks for your contribution (112014354).. 10605 hours and 54 mins spent here; +30 to your rating, your total score is [+30](http://www.netbout.com/b/35659?open=rating)

[2017-04-18 19:16] naiduasn opened #96 "Any Plans to extend this to gradle projects?"
Its a great project for maven pom.xml files. would be great if it can extended to build.gradle files too

[2017-04-18 19:16] 0crat commented on #96
@yegor256 please, pay attention to this issue

[2017-04-25 12:44] yegor256 commented on #96
@naiduasn feel free to submit a pull request, we're definitely looking forward to Gradle integration

[2017-05-11 12:58] 0pdd opened #97 "Aether.java:94-97: Create an integration test for..."
The puzzle `11-2b91e5db` in [`src/main/java/com/jcabi/aether/Aether.java`](https://github.com/jcabi/jcabi-aether/blob/master/src/main/java/com/jcabi/aether/Aether.java) (lines 94-97) has to be resolved: Create an integration test for reading proxy information from maven settings.xml file that will mock an HTTP server using jcabi-http, provide a maven configuration file with proxy settings and veri

[2017-05-11 12:58] 0crat commented on #97
@yegor256 please, pay attention to this issue

[2017-05-11 12:58] 0pdd opened #98 "Aether.java:98-98: Fix UnsupportedClassVersionError in..."
The puzzle `69-46002db1` in [`src/main/java/com/jcabi/aether/Aether.java`](https://github.com/jcabi/jcabi-aether/blob/master/src/main/java/com/jcabi/aether/Aether.java) (lines 98-98) has to be resolved: Fix UnsupportedClassVersionError in CL build for Open JDK6.

The puzzle was created by Igor Piddubnyi on 27-Jan-16.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask

[2017-05-11 12:58] 0pdd opened #99 "RootArtifactTest.java:53-56: Implement RootArtifact#parent method...."
The puzzle `70-7b24e628` in [`src/test/java/com/jcabi/aether/RootArtifactTest.java`](https://github.com/jcabi/jcabi-aether/blob/master/src/test/java/com/jcabi/aether/RootArtifactTest.java) (lines 53-56) has to be resolved: Implement RootArtifact#parent method. It should resolves parent of this root artifact. Do not hesitate change method signature if any additional parameter will be required. Afte

[2017-05-11 12:58] 0crat commented on #98
@yegor256 please, pay attention to this issue

[2017-05-11 12:58] 0crat commented on #99
@yegor256 please, pay attention to this issue

[2018-01-18 16:24] cuihtlauac opened #101 "Any plan to produce a stable release?"
The Kotlin compiler is using jcabi-aether-0.10.1-jar to resolve dependencies in “Kotlin scripts”. Since support for proxies is not available in 0.10.1 (see https://github.com/jcabi/jcabi-aether/issues/11), Kotlin scripts can'r resolve dependencies when run behind a proxy.

Kotlin issue: https://youtrack.jetbrains.com/issue/KT-22363

[2018-01-29 14:05] ruurd opened #102 "Dependency on hibernate-validator"
Why are you depending on hibernate-validator? Now you pull in a whole implementation of javax.validation and make it hard for others that want to use a newer implementation of hibernate-validator. Why not compile against the validation API and instruct users to pull in hibernate-validator themself?

[2018-01-29 14:05] 0crat commented on #102
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 15:52] yegor256 commented on #102
@ruurd you can just include your own version of `hibernate-validator` in your `pom.xml` and our version won't be used. It's a `runtime` dependency in our case. Or I didn't understand the problem?

[2018-07-11 10:19] octavioroncal opened #103 "range versions doesn't work"
Is there support to range versions?
When I try to resolve an artifact with range version, aether throws an IllegalArgumentException.
`java.lang.IllegalArgumentException: Bad artifact coordinates io.intino.konos:alexandria-core:[1.0.0, 2.0.0), expected format is <groupId>:<artifactId>[:<extension>[:<classifier>]]:<version>`

is there any way to resolve that? Will you support them?

[2018-07-11 10:19] 0crat commented on #103
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-11 10:19] 0crat commented on #103
@octavioroncal[/z](https://www.0crat.com/u/octavioroncal) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-11 10:50] octavioroncal commented on #103
Solved: Just use another constructor of DefaultArtifact

[2018-07-11 10:51] #103 closed

[2018-07-11 11:06] 0crat commented on #103
The job is not in WBS, won't close the order

[2018-07-11 11:06] 0crat commented on #103
Job `gh:jcabi/jcabi-aether#103` is not assigned, can't get performer

[2019-03-22 21:22] #56 closed

[2019-03-22 21:43] 0crat commented on #56
Job `gh:jcabi/jcabi-aether#56` is not assigned, can't get performer

[2019-03-22 21:43] 0crat commented on #56
This job is not in scope

[2019-04-22 12:48] jyotirmaya12 opened #104 "Facing issue while fetching transitive deps for a direct dep using jcabi-aether library"
[Code_Used.txt](https://github.com/jcabi/jcabi-aether/files/3103374/Code_Used.txt)
[Stacktrace.txt](https://github.com/jcabi/jcabi-aether/files/3103375/Stacktrace.txt)
[pom.txt](https://github.com/jcabi/jcabi-aether/files/3103384/pom.txt)

I have a demo plugin. I have written code to fetch the transitive dependency for a direct dependency.
I am using
<dependency>
        <groupId>com.jcabi</groupI

[2019-04-22 12:48] 0crat commented on #104
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-22 12:48] 0crat commented on #104
@jyotirmaya12[/z](https://www.0crat.com/u/jyotirmaya12) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-30 08:29] ebourg commented on #71
Any plan to port jcabi to the new org.eclipse.aether API (now Maven Resolver) ?

@vicmosin : do you still have a copy of your port?

[2019-07-30 09:30] vicmosin commented on #71
@ebourg nope, sorry

[2020-01-29 08:11] holgerbrandl opened #105 "java.lang.NoClassDefFoundError: org/ietf/jgss/GSSException when running with java11"
jcabi-aether is used to resolve dependencies in https://github.com/holgerbrandl/kscript.
However, currently it is not possible to use it with java11 (see https://github.com/holgerbrandl/kscript/issues/239), because when resolving dependencies the following exception is being thrown:

[code]

Is jcabi-aether compatible with java11? If not, is there any workaround to prevent this exception from happ

[2020-01-29 08:12] 0crat commented on #105
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-29 08:12] 0crat commented on #105
@holgerbrandl[/z](https://www.0crat.com/u/holgerbrandl) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-07 22:43] mirceanis opened #106 "Fetching artifacts from https://jitpack.io is broken"
I'm trying to fetch some artifacts from https://jitpack.io
I used the example code on https://aether.jcabi.com/ and replaced the repository and artifact coordinates like so:
[code]

This code fails with the following exception:

[code]

It seems to point to [Aether.fetch()](https://github.com/jcabi/jcabi-aether/blob/69e3eb4a5abb2b90f4e7e3203420025ee418819a/src/main/java/com/jcabi/aether/Aether.jav

[2020-03-07 22:43] 0crat commented on #106
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-07 22:46] JDFind commented on #106
+1

[2020-08-05 11:27] yegor256 commented on #105
@holgerbrandl I have no idea why this is happening? Do you have a hint or we need to investigate?

[2020-08-25 20:38] holgerbrandl commented on #105
My only suspicion is the module system. It seems that to add the GSSException we may need something like `--add-modules java.security.jgss`. I'd also love to simply add it as an external jar, but could find any on maven-central or jcenter.